# Fundamentals of Python programming

### TA: Zahra Sattari

### 1) Variables and types

In [2]:
#integer
a=1
type(a)

int

In [3]:
#float
b=3.5
type(b)

float

In [4]:
#boolean
c=True
type(c)

bool

In [5]:
#complex
d=5-3j
type(d)

complex

In [6]:
#take the real part
d.real

5.0

In [7]:
#take the imaginary part
d.imag

-3.0

In [8]:
#string
e='welcome to phys050!'
type(e)

str

### 2) Operators

In [9]:
# kind of a calculator
3+4, 5-6, 7*8, 1/2, 4**2

(7, -1, 56, 0.5, 16)

In [10]:
#integer division
7//3

2

In [11]:
#remainder
7%3

1

In [14]:
#boolean operators
#True:1, False:0, and:*, or:+
True and False

False

In [15]:
True or False

True

In [18]:
#comparison operators
5>4,15==16, 14!=14

(True, False, False)

### 3) List

In [19]:
#create a list
f=[1,4,7,8]
type(f)

list

In [20]:
#indexing starts from 0
f[0]

1

In [21]:
f[0:2]

[1, 4]

In [22]:
f[3]

8

In [23]:
#list elements can have different types
g=['hello',5,6,8]

In [24]:
print(g[0])

hello

In [25]:
#nested list
h=[[1,2,3],[[5,6,7],'find me']]

In [26]:
print (h[1][1])

find me

In [40]:
#range function
i=list(range(1,10,1))

In [41]:
print (i)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
#append
i.append(10)
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
#insert function
i.insert(1,'hello')
i

[1, 'hello', 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
i.insert(3,'hello')

In [45]:
i

[1, 'hello', 2, 'hello', 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
#remove function
i.remove('hello')
i

[1, 2, 'hello', 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
#del function
del i[1]
i

[1, 'hello', 3, 4, 5, 6, 7, 8, 9, 10]

### 4)Tuples

In [48]:
#like lists, but immutable (cannot be changed)
j=(5,8)
type(j)

tuple

In [49]:
#cannot be changed
j[1]=8

TypeError: 'tuple' object does not support item assignment

### 5) Sets

In [50]:
#similar to sets in math
A={1,2,3}
B={3,4,5,2}
type(A)

set

In [51]:
#union and intersection
A|B, A&B

({1, 2, 3, 4, 5}, {2, 3})

### 6) Dictionaries

In [52]:
#each element has key and value
k={'parameter1':1,'parameter2':2}
type(k)

dict

In [53]:
print(k['parameter1'])

1

In [54]:
k.items()

dict_items([('parameter1', 1), ('parameter2', 2)])

### 7) Control flow

In [55]:
#if statement 
x=4
y=5

if x<y:
    print ('x is less than y')
elif y==x:
    print ('x is equal to y')
else:
    print ('x is greater than y')

x is less than y

In [56]:
# for loop
for i in [1,2,3,4]:
    print (i)

1
2
3
4

In [57]:
for i in range (1,5,1):
    print (i)

1
2
3
4

In [58]:
for key,value in k.items():
    print(key,'=',value)

parameter1 = 1
parameter2 = 2

In [59]:
#use for loop to create a list
l=[x**2 for x in range(0,10)]

In [60]:
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [61]:
#while loop
m=5
while m<10:
    print(m)
    m=m+1

5
6
7
8
9

### 8) Functions

In [62]:
def func(input):
    output=2*input
    return (output)

In [63]:
func(2)

4

In [64]:
#lambda function
func=lambda input:input*2

In [65]:
func(2)

4